body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    height: 600px;
}
.orange-heightlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 10px;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(../IMAGES/top-banner.PNG);
    /* height: 500px; */
    background-repeat: no-repeat;
}
.link-btn{
    background: linear-gradient(45deg, lightSalmon, tomato);
    padding: 8px 15px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.dreem-banner{
    background-image: url(../IMAGES/dream-bg.PNG);
    /* height: 600px; */
    background-repeat: no-repeat;
    background-position: right;
}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px;
    height: 60%;
    background-color: white;
}
.experence-area{
    background-image: url(../IMAGES/exp-bg.PNG);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,cyan, Blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
}